:root {
    --section-width: 80vw;
    --section-height: 100vh;
    --tai-chi-blue: #0066ff;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: y proximity;
}

@media only screen and (max-height: 750px) {
    html {
        scroll-snap-type: none;
    }
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.half-grey-bg {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#fff 0 50%, #f8f8f8 50% 100%);
    position: absolute;
    left: 0;
    z-index: -1;

}

.blue-text {
    color: var(--tai-chi-blue);
}

h1 {
    font-size: 3.5em;
    font-family: 'Aladin', cursive;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    color: #5F6368;
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 0.9em;
    }
}


/* nav */

nav {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 20px 0px;
    top: 0;
    backdrop-filter: blur(8px);
}

.current-section {
    font-size: 3em;
}


@media only screen and (max-height: 900px)  {
   nav {
    padding: 0;
   }
   .current-section {
    font-size: 2em;
    }
}

@media only screen and (max-width: 500px)  {
    nav {
     padding: 0;
    }
    .current-section {
        font-size: 2em;
    }
 }




li,
a,
ul {
    display: inline;
    text-decoration: none;
    color: black;
}

li,
.contact-button {
    margin-left: 50px;
}

.contact-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 15px;
    border: 1px var(--tai-chi-blue) solid;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 37px;
}

.contact-button:hover {
    background-color: var(--tai-chi-blue);
    color: #fff;
    cursor: pointer;
}

.home-button {
    display: flex;
    align-items: center;
}

.home-button>img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}



/* hamburger menu */

.hamburger {
    margin-right: 8px;
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    display: none;
    z-index: 50;
}

.hamburger>div {
    width: 40px;
    height: 5px;
    background-color: var(--tai-chi-blue);
}

.dropdown {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    font-size: 40px;
    gap: 5vh;
    overflow: scroll;
}

.dropdown>a {
    user-select: none;
    width: 100%;
    text-align: center;
}



@media only screen and (max-width: 800px) {
    .hamburger {
        display: inherit;
    }
}

@media only screen and (max-width: 1000px) {
    nav>a>img {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    nav>a>img {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    ul {
        display: none;
    }
}

@media only screen and (max-height: 500px) {
    .dropdown {
        gap: 0;
    }
}


/* header */

.header {
    scroll-snap-align: start;
    width: var(--section-width);
    height: var(--section-height);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 700px;

}


.chinese-text {
    font-size: 4em;
    font-weight: bold;
    align-self: flex-end;
    background: linear-gradient(to right, #000, #184192 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.chinese-text:hover {
    background: linear-gradient(to right, #000, #184192 10%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: default;
}


.header-bg {
    background-color: #DBF6FE;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero-text>p {
    font-weight: 300;
    font-size: 1.5em;
}

/* tai-chi */

.tai-chi {
    scroll-snap-align: start;
    width: var(--section-width);
    height: var(--section-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 700px;

}

.tai-chi-text {
    max-width: 400px;
}

@media only screen and (max-width: 1000px) {
    .tai-chi>img {
        width: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .tai-chi>img {
        width: 200px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 750px) {
    .tai-chi>img {
        display: none;
    }
}

/* docenten */

.docenten {
    scroll-snap-align: start;
    width: var(--section-width);
    height: var(--section-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.mw-stoet,
.m-duyser {
    display: flex;

}

.mw-stoet>img,
.m-duyser>img {
    margin-right: 30px;
    width: 160px;
    height: 160px;
}

.mw-stoet>div,
.m-duyser>div {
    max-width: 300px;
}

@media only screen and (max-width: 600px) {

    .mw-stoet>img,
    .m-duyser>img {
        margin-right: 30px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    h4 {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 350px) {

    .mw-stoet>img,
    .m-duyser>img {
        display: none;
    }
}

/* rooster */

.rooster {
    scroll-snap-align: start;
    width: var(--section-width);
    height: var(--section-height);
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 700px;

}





/* contact */

.contact {
    scroll-snap-align: start;
    width: var(--section-width);
    height: var(--section-height);
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.form-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-container>img {
    width: 400px;
    height: 300px;
}

@media only screen and (max-width: 950px) {
    .form-container>img {
        width: 250px;
        height: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .form-container>img {
        display: none;
    }
}


form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

footer {
    height: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.subtext-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
    color: #fff;
}

.footer-bg {
    min-height: 250px;
    height: 20vh;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: -1;
}

.subtext {
    padding: 0 80px;
    text-align: center;
}

.privacy-policy {
    text-align: center;
    text-decoration: underline;
    border-top: 1px #5F6368;
    padding: 4px;
}

a>p:hover,
.subtext>p:hover {
    color: #fff;
}

@media only screen and (max-width: 950px) {
    .subtext {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 770px) {
    .subtext {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 650px) {
    .subtext-container {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }

    .subtext {
        padding: 8px;
    }
}

   


.verstuur {
    background: #0066FF;
    border-radius: 37px;
    color: white;
    width: 125px;
    height: 53px;
    border: 0px;
    cursor: pointer;
    font-size: 1.3em;

}

.kleinebox {
    background: #D9D9D9;
    border-radius: 14px;
    height: 53px;
    width: 44vw;
    max-width: 550px;
    border: 0px;
    padding: 10px;
    font-size: 1.2em;
}

.grotebox {
    border: 0px;
    background: #D9D9D9;
    border-radius: 14px;
    height: 134px;
    padding: 10px;
    max-width: 550px;
    font-size: 1.3em;
    width: 44vw;
}

@media only screen and (max-width: 700px) {

    .kleinebox,
    .grotebox {
        width: 70vw;
    }
}